[submodule "external/ProjFileTools"]
	path = external/ProjFileTools
	url = https://github.com/mhutch/ProjFileTools.git
[submodule "MonoDevelop.Xml"]
	path = MonoDevelop.Xml
	url = git@github.com:mhutch/MonoDevelop.Xml.git
