name: Build

on: workflow_call

jobs:
  build:
    name: Build ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os:     windows-latest
          config: Debug
#        - os:     macos-latest
#          config: DebugMac
    runs-on: ${{ matrix.os }}

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0 # GitVersioning needs deep clone

    - name: Set up dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x

    - uses: actions/cache@v4
      with:
        path: ${{ env.NUGET_PACKAGES }}
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Restore
      run: dotnet restore -p:Configuration=${{ matrix.config }}

    - name: Build
      run: dotnet build --no-restore -c ${{ matrix.config }} -p:CreatePackage=true

    - name: Test
      run: dotnet test --no-build -c ${{ matrix.config }}

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install NBGV
      uses: dotnet/nbgv@master
      id: nbgv

    - name: Install NPM dependencies
      working-directory: msbuild-editor-vscode
      run: npm install

    - name: Pack VSCode Extension
      working-directory: msbuild-editor-vscode
      run: npx vsce package --no-git-tag-version --pre-release ${{ steps.nbgv.outputs.NpmPackageVersion }}

    - uses: actions/upload-artifact@v4
      if: startsWith(matrix.os, 'windows')
      with:
        name: MSBuild Editor VSIX (Visual Studio)
        path: MonoDevelop.MSBuild.Editor.VisualStudio/bin/**/*.vsix

    - uses: actions/upload-artifact@v4
      with:
        name: MSBuild Editor VSIX (VS Code)
        path: msbuild-editor-vscode/*.vsix
        if-no-files-found: error